.Badge {
    margin-left: 5px; 
}
#sharePointScore{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-weight: bold;
}
@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}
#eyeIco{
    position: absolute;
    right: 30px;
    top: 86px;
    cursor: pointer;
}
#collapseSettingWindow{
    position: absolute;
    right: 30px;
    top: 116px;
}