<div id="eyeIco" (click)="isCollapsed = !isCollapsed">
    👁
</div>
<div id="collapseSettingWindow" *ngIf="isCollapsed">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <div class="input-group mb-3" *ngFor="let windowOption of windowOptions; let i=index">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input"
                            [checked]="windowOption.value" (click)="changeWindowOptionValue(i)">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox"
                    value="{{windowOption.name}}">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card-columns">
        <div *ngFor="let avatar of avatars" class="card">
            <div class="Badge badge-pill badge-warning" id="sharePointScore" *ngIf="sharePointsAreVisible()">{{avatar.SharePoints}}</div>
            <img alt="{{avatar.ShortDescription}}" class="img-thumbnail img-fluid" src="{{avatar.ImagesUrl[0]}}">
            <div class="card-block">
                <h4 class="card-title" *ngIf="nameIsVisible()">{{avatar.FolderName}}</h4>
                <span *ngIf="tagsAreVisible()"><span *ngFor="let tag of avatar.tags" class="Badge badge-pill badge-success">{{tag | titlecase}}</span></span>
                <p class="card-text" *ngIf="descriptionIsVisible()">{{avatar.Description}}</p>
            </div>
        </div>
    </div>
</div>