<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Picture URL" aria-label="URL"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Home</a></li>
                <li><a href="#section2">Friends</a></li>
                <li><a href="#section3">Family</a></li>
                <li><a href="#section3">Photos</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-sm-9">
            <app-view-avatar></app-view-avatar>
            <app-add-avatar></app-add-avatar>
        </div>
    </div>
</div>