<form #avatarForm="ngForm" (ngSubmit)="onSubmit(avatarForm)" *ngIf="!isLoading">

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span for="name" class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input ngModel name="name" type="text" class="form-control" id="name">
    </div>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span for="folderName" class="input-group-text" id="inputGroup-sizing-default">FolderName</span>
        </div>
        <input ngModel name="folderName" type="text" class="form-control" id="folderName">
    </div>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ShortDescription</span>
        </div>
        <input ngModel name="description" type="text" class="form-control" id="decsription">
    </div>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ImagesUrl</span>
        </div>
        <input ngModel name="imagesUrl" type="text" class="form-control" id="imagesUrl">
    </div>
    
    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
        </div>
        <input ngModel name="tags" type="text" class="form-control" id="tags">
    </div>

    <button type="submit" *ngIf="!editMode" class="btn btn-info">Add</button>
    <button type="submit" *ngIf="editMode" class="btn btn-info">Edit</button>
    <button type="submit" *ngIf="editMode" (click)="exitEditMode()" class="btn btn-info">X</button>

</form>