<form #avatarForm="ngForm" (ngSubmit)="onSubmit(avatarForm)" *ngIf="!isLoading">

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span for="folderName" class="input-group-text" id="inputGroup-sizing-default">FolderName</span>
        </div>
        <input ngModel name="folderName" type="text" class="form-control" id="folderName">
    </div>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ShortDescription</span>
        </div>
        <input ngModel name="description" type="text" class="form-control" id="decsription">
    </div>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">ImagesUrl</span>
        </div>
        <input ngModel name="imagesUrl" type="text" class="form-control" id="imagesUrl">
    </div>
    
    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
        </div>
        <input ngModel name="tags" type="text" class="form-control" id="tags">
    </div>

    <button type="submit" class="btn btn-info">Click</button>
</form>