<table class="table table-hover table-dark table-placement">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Folder Name</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Comment_Id</th>
            <th scope="col">Comments Number</th>
            <th scope="col">Share Points</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <th scope="row"><input (click)="selectAvatar(row)" type="checkbox" /></th>
            <td> <img class="thumbnail" src="{{row.avatar.ImagesUrl[0]}}"></td>
            <td>{{row.avatar.Name}}</td>
            <td>{{row.avatar.FolderName}}</td>
            <td>{{row.avatar.Description}}</td>
            <td>{{displayTags(row.avatar.Tags)}}</td>
            <td>{{row.avatar.SharePoints}}</td>
            <td>{{row.avatar.CommentNumber}}</td>
            <td>{{row.avatar.Comment_Id}}</td>
            <td>
                <app-remove-avatar [row]="row"></app-remove-avatar>
                <button type="button" (click)="editAvatar(row.avatar)" class="btn btn-secondary">Edit</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="4">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{pageSize}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let sortNumber of sortNumbers" ngbDropdownItem (click)="selectSortNumber(sortNumber)">{{sortNumber}}</button>
            </div>
        </div>
    </td>
        <td></td>
        <td colspan="3">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="rows.length"></ngb-pagination>
        </td>
        <td colspan="2"> <button type="button" class="btn btn-danger delete " (click)="removeAvatars()">Delete
                Selected</button></td>
    </tfoot>

</table>
