<p>view-avatar works!</p>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Folder Name</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Comment_Id</th>
            <th scope="col">Comments Number</th>
            <th scope="col">Share Points</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let avatar of avatars">
            <th scope="row"><input type="checkbox"/></th>
            <td> <img class="thumbnail" src="{{avatar.ImagesUrl[0]}}"></td>
            <td>{{avatar.Name}}</td>
            <td>{{avatar.FolderName}}</td>
            <td>{{avatar.Description}}</td>
            <td>{{avatar.Tags | replace:''}}</td>
            <td>{{avatar.SharePoints}}</td>
            <td>{{avatar.CommentNumber}}</td>
            <td>{{avatar.Comment_Id}}</td>
            <td><button type="button" class="btn btn-danger" (click)="removeAvatar(avatar.Id)">X</button>
                <button type="button" class="btn btn-secondary">Edit</button></td>
        </tr>
    </tbody>
    <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-danger delete">Delete Selected</button></td></tfoot>
</table>