<p>view-avatar works!</p>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Folder Name</th>
            <th scope="col">Description</th>
            <th scope="col">Tags</th>
            <th scope="col">Comment_Id</th>
            <th scope="col">Comments Number</th>
            <th scope="col">Share Points</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <th scope="row"><input (click)="selectAvatar(row)" type="checkbox"/></th>
            <td> <img class="thumbnail" src="{{row.avatar.ImagesUrl[0]}}"></td>
            <td>{{row.avatar.Name}}</td>
            <td>{{row.avatar.FolderName}}</td>
            <td>{{row.avatar.Description}}</td>
            <td>{{row.avatar.Tags | replace:''}}</td>
            <td>{{row.avatar.SharePoints}}</td>
            <td>{{row.avatar.CommentNumber}}</td>
            <td>{{row.avatar.Comment_Id}}</td>
            <td><button type="button" class="btn btn-danger" (click)="removeAvatar(row.avatar.Id)">X</button>
                <button type="button" (click)="editAvatar(row.avatar)" class="btn btn-secondary">Edit</button></td>
        </tr>
    </tbody>
    <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-danger delete" (click)="removeAvatars()">Delete Selected</button></td></tfoot>
</table>