/* .card{
    width: 300px;
    height: auto;
} */

.Badge {
    margin-left: 5px; 
}
#sharePointScore{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    font-weight: bold;
}